

.color_bg_start {
    background-color: #68b2a1;
}

.color_bg_spielplan {
    background-color: #f06664;
}

.color_bg_favoriten {
    background-color: #718598;
}

.color_bg_karte {
    background-color: #dd9090;
}

.color_bg_bus {
    background-color: #f7b594;
}


